#cjCfi_page,
#cjCfi_page * {
    box-sizing: border-box;
}

#cjCfi_page .clear {}
#cjCfi_page .clear:before,
#cjCfi_page .clear:after {
    content: '';
    display: table;
}

#cjCfi_page h1 {
    margin: 0 0 10px;
}

#cjCfi_page .clear:after {
    clear: both;
}

.cj_cfi_sizes {
    width: 600px;
    margin: 20px 0 0;
}

.cj_cfi_size_box {
    margin: 0 0 20px;
}

.cj_cfi_size_box__head {
    font-size: 18px;
}

.cj_cfi_size_box__buttons {
    text-align: right;
    margin: 10px 0 0;
}

.cj_cfi_size_box__body {
    margin: 5px 0 10px 0;
}

.cj_cfi_size_box__footer__head {
    margin: 0 0 10px;
}

img.cj_cfi_image_for_crop {
    max-width: 100%;
    height: auto;
}

.cj_cfi_size__crops {}
.cj_cfi_size__crop {
    float: left;
    width: 80px;
    margin: 0 10px 10px 0;
}

.cj_cfi_size__crop img {
    max-width: 100%;
    cursor: pointer;
}

.cj_cfi_size__crop.current img {
    outline: 3px solid #3499ff;
}

#viewCropImageDialog {}

#viewCropImageDialog img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
}

.cj_cfi_loader {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 360px;
    background: #000;
    opacity: 0.7;
    z-index: 999999;
}

.cj_cfi_loader span {
    border: 5px solid #fff;
    border-top: 5px solid #0f6b9b;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 0.5s linear infinite;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -40px;
    margin-left: -40px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.ui-dialog {
    max-width: 1000px;
}

@media screen and (max-width: 1002px) {
    .cj_cfi_sizes {
        width: 100%;
    }
}